# ASP.NET
*.suo
*.user
*.bak
*.cache
*.log
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.pdb
*.ipch
*.pch
*.res
*.tlb
*.dll
*.lib
*.exp
*.sbr
*.sdf
*.aps
*.clw
*.odl
*.hlp
*.pch
*.pdb
*.idb
*.manifest
*.res
*.tlog
*.zip
*.nupkg
*.bak
*.cache
*.csproj.user
*.VC.db
*.VC.VC.opendb
*.VC.VC.opendb.lock

# Binaries
bin/
obj/
